* {

    box-sizing: border-box; 
}
:focus{
    outline-style: dotted;
    outline-color: red;
  outline-width: thin;
}
html {scroll-behavior: smooth;}
/*Body starts*/
img {
    max-width: 100%;
}

body{
    color: #2d2d2d;
    text-align: center;
    font-family: 'Raleway';
    line-height: 2em;
    font-weight: normal; 
}
h1,h2,h3 {
    font-family: 'Playfair Display';
    font-weight: normal;
}
header{
    display: flex;
    text-transform: uppercase;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    text-align: left;
    order: 1; 
}
.aloha-logo{
    
    width: 180px;
    text-align: left;
}
.main-nav {
    display: flex; 
    padding: 0; 
    justify-content: center;
}
.nav-nav{
    order: 3; 
    width: 100%;
}
nav li a{
    text-decoration: none;
    color:#e2574c;
    padding-right: 10px;
}

a:hover {
    color:#b64036;

}
.cart{
    text-align: right;
     order:2; 
}
.cart-icon{
    width: 70px;
    text-align: right;
}
ul{
    list-style-type: none;
    margin: 0 auto;
}
/*Banner section*/
.banner {
    padding: 100px 0;
    position: relative;
    text-align: center;
    font-size: 16px;
    margin-bottom: 50px;
    /* background-color: rgba(255,0,0,1); */
    height: 400px;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../images/banner-girl.png), url(../images/flower-bkgd.jpg); 
    background-position: center, center 100px, top center;
    background-size: contain, contain, contain;
    background-repeat: no-repeat, no-repeat, repeat;
    /* background-image: linear-gradient(rgba(0,0,0,0.2) */
    
    
}
.banner_text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.banner_text p {
    font-size: 21px;
}
.banner_text h1 {
    font-size: 41px;
}
.container {
    max-width: 600px;
    width: 100%;
    margin: 0 auto; 
}
/* hand craftted section*/
.hand-crafted h3 {
    font-size: 40px;
    font-style: italic;
}
.hand-crafted p {
    font-weight: 300;
}
/*category section*/

nav a {
    color:#fff;
}
.category-list {
    display: flex;
    padding: 0; 
    flex-wrap: wrap; 
    font-size: 30px;
}
.category-list li a {
    text-decoration: none;
}
.category {
    display: flex;
    justify-content: center;
    align-items: center;
}
.mens {

    background: url("../images/mens-category.jpg");
    background-size: cover;
    width: 100vw;
    height:50vw;
}
.trends{
    background: url("../images/trends-category.jpg");
    background-size: cover;
    width: 50vw;
    height: 50vw;
    border: 2px solid white;
    padding: 10px;
}
.glasses{
    background: url("../images/glasses-category.jpg");
    background-size: cover;
    width: 50vw;
    height: 50vw;
    border: 2px solid white;
}
.sales{
    background: url("../images/sale-category.jpg");
    background-size: cover;
    width: 50vw;
    height: 50vw;
    border: 2px solid white;
}
.bags{
    background: url("../images/bags-category.jpg");
    background-size: cover;
    width:50vw;
    height: 50vw;
    border: 2px solid white;
}
.womens{
    background: url("../images/womens-category.jpg");
    background-size: cover;
    width: 100vw;
    height: 50vw;

}
/*most loved product*/
ul li h3 {
    color:#e2574c;
}
.products ul {
     /* display: flex; */
}
.product-section{
    margin-bottom: 67px;
}
.most-loved {
    font-size: 40px;
    font-style: italic;
}
/*sign-up for updates*/
.sign-up-section{
    background: url("../images/wave-bkgd.jpg");
    color: #fff;
    background-position: bottom; 
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    display: flex;
    
}
.sign-up-section h2{
    font-size: 40px;
    font-style: italic;

}
span {
    font-style: normal;
}

.subscribe{
    position: relative;
}
.subscribe-button{
    border-radius: 50px;
    color:#fff;
    right: 1%;
    top: 3%;
    position: absolute; 
    width: 150px;
    height: 40px;
    background:#e2574c;
    
    
}

.email-address{
    border-radius: 80px;
    position: relative;
    width:400px;
    right: -4%;
    height:40px;
}

.footer-wrapper {
    background: #242424; 
}

/*footer section*/

.flexed-footer{

    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background: #242424; 
    align-items: center;
    height: 22em; 
    font-family: "Playfair Display";
}
.contact, a {
    color: #fff;
}
.contact .address {
    color:#969696;
}
.social{
    color:#fff;
}
.social li {
    display: inline-block;
   
}
.social ul{
    text-align: justify;
}
.social i {
    padding: 10px;
    text-align: center;
    
}
.social li a {
    text-decoration: none;
}
.social span {
    display: none;
}

.carousel-cell {
    width: 100%;
}
.carousel-cell p {
    color:#969696;
    font-weight: normal;
    font-size: 13px;

}
.carousel-cell h3 {
    font-size: 23px;
}
.screen-reader-text:focus {
    clip: auto !important;
    display: block;
    height: auto;
    left: 5px;
    top: 5px;
    width: auto;
    z-index: 100000; /* above all content */
 }
 .screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
 }
 #main[tabindex="-1"]:focus {
    outline: 0;
    
    
 }

/*Media query section*/

@media screen and (min-width:600px){

    .logo{ 
        order: 1;
        width: 10%;
    }
    
    .nav-nav {
        order: 2;
        text-align: center;
        width: 20%;
    }
    .cart{
        order: 3;
        width: 10%;
    }
    .mens {
        width:50%;
        height: 25vw;
        
    }
    .trends {
       width: 25%;
       height: 25vw;
       border: 2px solid white;
    }
    .glasses{
        width: 25%;
        height: 25vw;
        border: 2px solid white;
    }
    .sales{
        width:25%;
        height: 25vw;
        border: 2px solid white;
    }
    .bags {
        width:25%;
        height: 25vw;
        border: 2px solid white;
    }
    .womens {
        width: 50%;
        height: 25vw;
        border: 2px solid white;
    }
    /* subscribtion button*/

    .subscribe-button{
        right: 8%;
        top: 60%;
        position: relative;
    }
    /* footer*/

    .flexed-footer{
        flex-wrap:wrap;
        flex-direction: row;
        
    }
    .social li {
        display: block;
    }
    .social span {
        display: inline-block;
    }

    .carousel-cell {
        width: 50%;
    }
    
    

}
@media screen and (min-width:1240px){
.container {
    max-width: 1240px; 
    width: 86%;
}

.carousel-cell {
    width: 25%;
}

}