* {
    box-sizing: border-box; 
    
}
/*Body starts*/
img {
    max-width: 100%;
}
body{
    color: #2d2d2d;
    text-align: center;
    font-family: 'Raleway';
    line-height: 2em;
    font-weight: normal; 
}
h1,h2,h3 {
    font-family: 'Playfair Display';
    font-weight: normal;
}
header{
    display: flex;
    text-transform: uppercase;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    text-align: left;
    order: 1;
}
.aloha-logo{
    
    width: 180px;
    text-align: left;
}
.main-nav {
    display: flex; 
    padding: 0; 
    justify-content: center;
}
.nav-nav{
    order: 3;
    width: 100%;
}
nav li a{
    text-decoration: none;
    color:#e2574c;
    padding-right: 10px;

}
.cart{
    text-align: right;
    order:2;
}
.cart-icon{
    width: 70px;
    text-align: right;
}
ul{
    list-style-type: none;
    margin: 0 auto;
}
/*Banner section*/
.banner {
    padding: 100px 0;
    position: relative;
    text-align: center;
    font-size: 16px;
    margin-bottom: 50px;
    /* background-color: rgba(255,0,0,1); */
    height: 400px;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(images/banner-girl.png), url(images/flower-bkgd.jpg); 
    background-position: center, center 100px, top center;
    background-size: contain, contain, contain;
    background-repeat: no-repeat, no-repeat, repeat;
    /* background-image: linear-gradient(rgba(0,0,0,0.2) */
    
    
}
.banner_text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.container {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}
/*category section*/

nav a {
    color:#fff;
}
.category-list {
    display: flex;
    padding: 0;
    flex-wrap: wrap; 
}
.category {
    display: flex;
    justify-content: center;
    align-items: center;
}
.mens {

    background: url("images/mens-category.jpg");
    background-size: cover;
    width: 100vw;
    height:50vw;
}
.trends{
    background: url("images/trends-category.jpg");
    background-size: cover;
    width: 50vw;
    height: 50vw;
    border: 2px solid white;
    padding: 10px;
}
.glasses{
    background: url("images/glasses-category.jpg");
    background-size: cover;
    width: 50vw;
    height: 50vw;
    border: 2px solid white;
}
.sales{
    background: url("images/sale-category.jpg");
    background-size: cover;
    width: 50vw;
    height: 50vw;
    border: 2px solid white;
}
.bags{
    background: url("images/bags-category.jpg");
    background-size: cover;
    width:50vw;
    height: 50vw;
    border: 2px solid white;
}
.womens{
    background: url("images/womens-category.jpg");
    background-size: cover;
    width: 100vw;
    height: 50vw;

}
/*most loved product*/
ul li h3 {
    color:#e2574c;
}
/*sign-up for updates*/
.sign-up-section{
    background: url("images/wave-bkgd.jpg");
    color: #fff;
    background-position: bottom; 
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
}

.footer-wrapper {
    background: #242424; 
}

/*footer section*/
.flexed-footer{

    display:flex;
    justify-content: space-between;
    background: #242424; 
    align-items: center;
}
.contact, a {
    color: #fff;
}
.contact .address {
    color:#969696;
}
.social{
    color:#fff;
}
.social i {
    padding: 25px;
    text-align: center;
    
}
.social li a {
    text-decoration: none;
}

/*Media query section*/

@media screen and (min-width:600px){
    .logo{ 
        order: 1;}
    
        
    .nav-nav {
        order: 3;
        text-align: center;
    }
    .cart{
        order: 2;
        
    }
    .mens {
        width:50%;
        height: 25vw;
        
    }
    .trends {
       width: 25%;
       height: 25vw;
       border: 2px solid white;
    }
    .glasses{
        width: 25%;
        height: 25vw;
        border: 2px solid white;
    }
    .sales{
        width:25%;
        height: 25vw;
        border: 2px solid white;
    }
    .bags {
        width:25%;
        height: 25vw;
        border: 2px solid white;
    }
    .womens {
        width: 50%;
        height: 25vw;
        border: 2px solid white;
    }

}
@media screen and (min-width:1240px){
.container {
    max-width: 1240px; 
}
.logo {
    order:1;
}
.nav-nav {
    order: 3;
}
.cart {
    order: 2
}
/* catergory section*/


}